:root {
    --primaryColor: #98cb00;
    --secondaryColor: #779e00;
    --white: #fff;
    --black: #000;
    --lineHeight: 220px;
    --lineWidth: 25%;
}


/* Commons */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 3.5em;
    margin-top: 0;
}

h2 {
    font-size: 2.2em;
}

h1,
h2,
h3 {
    font-weight: 700;
}

p {
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 2em;
}

a {
    color: var(--black);
    text-decoration: none;
}

a:visited,
a:active {
    color: initial;
}


/* Contenedores */

.container {
    padding-top: 5em;
    padding-bottom: 5em;
}

.row {
    display: flex;
    justify-content: space-around;
    max-width: 1080px;
    margin: auto;
    width: 100%;
    column-gap: 2em;
    padding: 2em 0;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-4 {
    width: 20%;
}

.two-thirds {
    max-width: 66%;
}

.centered {
    margin: 0 auto;
}

.wrap {
    flex-wrap: wrap;
}


/* Botones */

.button {
    background-color: var(--primaryColor);
    border-radius: 1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1em;
    padding: .5em 2.5em;
    line-height: 1em;
    border: none;
    width: fit-content;
    display: block;
}

a.button {
    /* Thanks to Yu-Ting, Cheng: https://codepen.io/fishtoyo/pen/VYQVQx*/
    background-repeat: no-repeat;
    background-position: -120px -120px, 0 0;
    background-image: -webkit-linear-gradient( top left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%);
    background-image: -moz-linear-gradient( 0 0, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%);
    background-image: -o-linear-gradient( 0 0, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%);
    background-image: linear-gradient( 0 0, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 37%, rgba(255, 255, 255, 0.8) 45%, rgba(255, 255, 255, 0.0) 50%);
    -moz-background-size: 250% 250%, 100% 100%;
    background-size: 250% 250%, 100% 100%;
    -webkit-transition: background-position 0s ease;
    -moz-transition: background-position 0s ease;
    -o-transition: background-position 0s ease;
    transition: background-position 0s ease;
}

a.button:hover {
    background-position: 0 0, 0 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

input.button {
    transition: all 150ms ease-in-out;
}

input.button:hover {
    box-shadow: 0 0 10px 4px var(--primaryColor);
    background: white;
    transform: scale(1.1);
}


/* Navegación */

.logo {
    display: inline;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.5em 0 0;
    max-width: 1080px;
    margin: auto;
}

nav ul li {
    display: inline;
}


/* Header */

header {
    background-image: url(../imagenes/background-woods.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--white);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient( to right, var(--black), var(--white));
    height: 5px;
    width: 100%;
    z-index: 2;
}

header>* {
    z-index: 2;
    position: relative;
}

.intro-text {
    margin: 8em auto;
}

.copyright-vertical {
    font-size: x-small;
    display: inline;
    -webkit-transform: rotate( 270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate( 270deg);
    position: absolute;
    right: -120px;
    bottom: 150px;
}

.copyright-vertical::after {
    content: "";
    background-color: var(--white);
    height: 1px;
    width: 50%;
    position: absolute;
    top: 7px;
    margin-left: 10px;
}


/* Líneas */

.title-decoration::before {
    content: "";
    display: block;
    position: relative;
    bottom: 1em;
    left: 0;
    background-color: var(--primaryColor);
    height: 5px;
    width: var(--lineWidth);
}

.floating-line::before {
    content: "";
    background: var(--primaryColor);
    height: var(--lineHeight);
    width: 1px;
    position: relative;
    bottom: 150px;
    left: 0;
    display: block;
    z-index: 3;
}


/* Imagen + SVG */

.mask {
    margin-top: -80px;
    z-index: 3;
}

#png-image {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    display: block;
}

.mask-image {
    height: 100%;
    -webkit-mask-image: url(../imagenes/picture-shape.svg);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: top right;
    -webkit-mask-size: auto auto;
    mask-image: url(../imagenes/picture-shape.svg);
    mask-repeat: no-repeat;
    mask-position: top right;
    mask-size: auto auto;
    z-index: 1;
    position: relative;
    right: 50px;
}

.mask-bg {
    content: url(../imagenes/background-shape.svg);
    width: 520px;
    height: 520px;
    z-index: 0;
    position: absolute;
    fill: var(--primaryColor);
    margin-left: 60px;
}


/* Formulario */

.proposal-icon {
    width: 50px;
    margin-bottom: 1em;
}

.forest-bg {
    background: linear-gradient(0deg, rgba(41, 236, 137, 0.1) 0%, var(--white) 100%);
    position: relative;
}

.forest-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../imagenes/background-bird-trees.jpg');
    background-size: cover;
    -webkit-filter: grayscale(100%) opacity(15%);
    -moz-filter: grayscale(100%) opacity(15%);
    -o-filter: grayscale(100%) opacity(15%);
    -ms-filter: grayscale(100%) opacity(15%);
    filter: grayscale(100%) opacity(15%);
    z-index: 1;
}

.forest-bg>* {
    z-index: 2;
    position: relative;
}

.vertical-line::before {
    content: "";
    background: var(--primaryColor);
    height: 100px;
    width: 1px;
    position: relative;
    bottom: 100%;
    left: 50%;
    display: block;
    margin-bottom: 1em;
}

.text-center {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

form>* {
    padding: 1.5em 0;
}

input[type="email"] {
    border-radius: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: .75em 1.5em;
    line-height: 1em;
    border: none;
    margin-top: 1em;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
}

input[type=checkbox]::before {
    content: "";
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: -1px;
    left: 0;
    border: 2px solid var(--black);
    border-radius: 3px;
    background-color: var(--white);
}

input[type=checkbox]:checked::after {
    content: "";
    display: block;
    width: 4px;
    height: 8px;
    border: solid var(--black);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate( 45deg);
    -ms-transform: rotate(45deg);
    transform: rotate( 45deg);
    position: absolute;
    top: 0;
    left: 5px;
}

input[type=submit]:hover {
    cursor: pointer;
}

input:focus {
    outline-color: var(--primaryColor);
}


/* Footer */

footer {
    background-color: #333;
    padding: 3em 0 5em;
}

footer p {
    margin-bottom: .2em;
}

footer .copyright {
    font-size: .7em;
    color: var(--white);
}

.footer-link {
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
}

footer .button {
    float: right;
    vertical-align: middle;
}

footer .row {
    padding: 0;
}


/* Media Queries */

@media only screen and (max-width: 1280px) {
    .row,
    nav {
        max-width: 80%;
    }
}

@media only screen and (max-width: 1024px) {
    .intro-text {
        margin: 6em auto;
    }
    .two-thirds {
        max-width: 90%;
    }
    .row.floating-line {
        flex-direction: column;
    }
    .floating-line .col-2 {
        width: 100%;
    }
    .col-2.text {
        order: 2;
    }
    .col-2.mask {
        order: 1;
    }
    #png-image {
        margin-top: -250px;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 1.8em;
    }
    .col-2 {
        width: 100%;
    }
    .col-4 {
        width: 40%;
    }
    #png-image {
        max-width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .col-4 {
        width: 100%;
    }
    #png-image {
        margin-top: -150px;
    }
    .floating-line::before {
        bottom: 50px;
    }
}